@media (max-width: 1439px) {
    .header {
        padding: 0 60px;
        &__logo {
            padding-right: 0;
        }
    }
    .promo {
        background: $main-color url('../../icons/promo/promo_bg.png') no-repeat 120% 0/auto 100%;
        height: auto;
        &__info-title {
            margin-top: 40px;
            font-size: 80px;
            line-height: 80px;
        }
        &__info-text {
            margin-top: 15px;
            font-size: 16px;
            line-height: 22px;
        }
        &__info-btn {
            margin: 40px 0 40px 0;
        }
        &__pictures {
            width: 680px;
            &-shirts {
                width: 100%;
            }
        }
    }
}

@media (max-width: 1200px) {
    .header {
        padding: 0 20px;
        &__menu {
            width: 350px;
        }
        &__panel {
            width: 200px;
        }
    }
    .promo {
        background: $main-color url('../../icons/promo/promo_bg.png') no-repeat 120% 0/auto 120%;
        height: auto;
        &__info-title {
            margin-top: 30px;
            max-width: 200px;
            font-size: 60px;
            line-height: 91%;
        }
        &__info-text {
            max-width: 290px;
            margin-top: 15px;
            font-size: 14px;
            line-height: 16px;
        }
        &__info-btn {
            margin: 30px 0 30px 0;
        }
        &__pictures {
            &-shirts {
                width: 100%;
                height: 100%;
            }
        }
    }
}


@media (max-width: 992px) {
    .header {
        &__menu {
            width: 300px;
            &-link {
                font-size: 12px;
                &_first {
                    &::before {
                        left: 65px;
                    }
                    &::after {
                        left: 61px;
                    }
                }
                &_second {
                    &::before {
                        left: 46px;
                    }
                    &::after {
                        left: 42px;
                    }
                }
            }
        }
        &__logo {
            margin: 0 auto;
            div {
                width: 80%;
                margin: 0 auto;
            }
        }
    }
    .promo {
        background: $main-color url('../../icons/promo/promo_bg.png') no-repeat 120% 0/auto 100%;
        height: auto;
        &__info-title {
            font-size: 50px;
        }
        &__info-text {
            font-size: 11px;
            line-height: 13px;
        }
        &__info-btn {
            width: 128px;
            height: 48px;
            font-size: 20px;
            line-height: 91%;
        }
        &__pictures {
            &-shirts {
                width: 90%;
                height: 90%;
            }
        }
    }
}


@media (max-width: 768px) {
    .header {
        min-height: 70px;
        &__menu {
            &-link {
                font-size: 10px;
                &_first {
                    &::before {
                        display: none;
                    }
                    &::after {
                        display: none;
                    }
                }
                &_second {
                    &::before {
                        display: none;
                    }
                    &::after {
                        display: none;
                    }
                }
                img {
                    display: none;
                }
            }
        }
        &__panel {
            &-entry {
                a {
                    font-size: 10px;
                }
            }
        }
    }
    .promo {
        background: $main-color url('../../icons/promo/promo_bg.png') 10% 0/auto 100%;
        height: auto;
        &__info-title {
            max-width: 170px;
            font-size: 36px;
        }
        &__info-text {
            font-size: 10px;
        }
        &__info-btn {
            width: 89px;
            height: 33px;
            font-size: 14px;
        }
        &__pictures {
            &-shirts {
                width: 100%;
                height: 100%;
            }
        }
    }
}


@media (max-width: 576px) {
    .header {
        position: relative;
        @include menuUnderLineLong;
        &__hamburger {
            display: block;
        }
        &__menu {
            display: none;
        }
        &__logo {
            position: absolute;
            width: 50%;
            left: 25%;
            padding: 0;
            margin: 0;
        }
        &__panel {
            width: 60px;
            // display: block;
            &-entry {
                display: none;
            }
            &-search {
                position: absolute;
                left: 59px;
            }
        }
    }
    .promo {
        min-height: 575px;
        margin: 0;
        padding: 0;
        padding-top: 50px;
        background: $main-color url('../../img/promo/promo_bg-min.png')bottom center no-repeat ;
        background-size: 100% 50%;
        position: relative;
        &__info {
            margin: 0;
            padding: 0 20px;
            text-align: center;
            width: 100%;
            &-title {
                margin: 0 auto;
                padding: 0;
                font-size: 53px;
            }
            &-text {
                font-size: 16px;
                line-height: 24px;
                margin: 0 auto;
                margin-top: 20px;
            }
            &-btn {
                width: 133px;
                height: 50px;
                font-size: 18px;
                
            }
        }
        &__pictures {
            position: absolute;
            bottom: -4px;
            width: 100%;
            &-shirts {
                position: static;
                width: 100%;
            }
        }
    }
}