@import 'libs/font';

@import 'base/mixins';
@import 'base/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Graphik';
    color: $black-color;
}

.container {
    width: 1220px;
    margin: 0 auto;
}

@import 'blocks/button';
@import 'blocks/title';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/menu';
@import 'blocks/offer';
@import 'blocks/box';
@import 'blocks/geek';
@import 'blocks/gallery';
@import 'blocks/info';
@import 'base/media';