.button {
    background-color: $main-color;
    color: white;
    width: 149px;
    height: 60px;
    border: none;
    text-transform: uppercase;
    font-family: 'FF DIN';
    font-weight: 700;
    &:hover {
        cursor: pointer;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        transition: all ease 0.5s;
    }
}