.promo {
    background: $main-color url('../../icons/promo/promo_bg.png') no-repeat 100% 0;
    position: relative;
    height: 600px;
    padding: 0 0 0 12%;
    display: flex;
    justify-content: space-between;
    &__info {
        z-index: 1;
        &-title {
            margin-top: 100px;
            color: $white-color;
            max-width: 322px;
            font-family: 'FF DIN';
            font-weight: 700;
        }
        &-text {
            margin-top: 30px;
            color: $white-color;
            font-weight: 400;
            max-width: 378px;
            line-height: 26px;
        }
        &-btn {
            background-color: white;
            margin-top: 50px;
            color: $black-color;
            width: 160px;
        }
    }
    &__pictures {
        position: relative;
        padding-top: 20px;
        &-shirts {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}